body, html  {
    display: block;
    margin: 0px;
    color: white;
    font-family: Helvetica;
    font-size: 14px;
    padding: 0px;
    overflow: hidden;
}
.material-icons.mid-icon {
  font-size: 1.5vw;
}
.material-icons.large-icon {
  font-size: 3vw;
}
#container {
  z-index: -1;
}
#corpora_bar {
  z-index: 5;
}
.vertical-bar {
  position:absolute;
  top: 8%;
  left: 1%;
  width: 8%;
  height:80%;
  /*background-color: #5c5c8a;*/
  background: transparent;
}
.top-bar {
  position:absolute;
  top: 0%;
  left: 0%;
  width:100%;
  height:8%;
  /*border-bottom: 2px solid #5c5c8a;*/
  /*background-color: transparent;*/
  background:transparent;
  z-index:5;
}
#loading-scene {
  position: absolute;
  width:100%;
  height:100%;
  background-color: #F5F5F5;
  text-align: center;
  color: #393939;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -80px 0 0 -40px;
  border: 5px solid #f3f3f3;
  border-radius: 100%;
  border-top: 5px solid #929292;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1;
}
#loader-info {
  position: absolute;
  top: 50%;
  width:100%;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.top-btn-wrapper {
  position:absolute;
  text-align: center;
}
.corpora-btn-wrapper {
  top: 20%;
  left:1%;
  width: 8%;
  height:60%;
}
.bookmark-btn-wrapper {
  top: 20%;
  left:10%;
  width: 8%;
  height:60%;
}
.animation-btn-wrapper {
  top: 20%;
  left:19%;
  width: 8%;
  height:60%;
}
.mute-button-wrapper {
  left: 87%;
  width: 2.5%;
  top: 20%;
  height:60%;
}
.help-button-wrapper {
  left: 90%;
  width: 2.5%;
  top: 20%;
  height:60%;
}
.share-button-wrapper {
  left: 93%;
  width: 2.5%;
  top: 20%;
  height:60%;
}
.exit-button-wrapper {
  left: 96%;
  width: 2.5%;
  top: 20%;
  height:60%;
}
.dialog-wrapper {
  position:absolute;
  border: 2px solid #5c5c8a;
  color: #5c5c8a;
  padding: 5px;
  font-size: 1.5vw;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255,255,255,0.95);
  z-index: 10;
}
.bottom-dialog {
  left: 30%;
  width: 40%;
  top: 77%;
}
.full-page-dialog {
  left: 15%;
  width: 70%;
  top: 10%;
  height: 80%;
}
.small-page-dialog {
  left: 25%;
  width: 50%;
  top: 35%;
  height: 30%;
}
.roundInput {
  width:90%;
  outline:none;
  padding-left:2%;
  padding-right:2%;
  margin: 5px;
  border:1px solid #5c5c8a;
  color:#5c5c8a;
  font-family: Helvetica;
  font-size: 1.2vw;
  border-radius: 5px;
}
.dialog-button-table {
  position: relative;
  left: 20%;
  width: 60%;
  font-size: 1.5vw;
}
.dialog-wide-table {
  left: 5%;
  top:5%;
  width: 80%;
  height: 83%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.5vw;
}
.dialog-button {
  border: 2px solid #5c5c8a;
  background: transparent;
  color: #5c5c8a;
  padding: 1px 1px;
  font-size: 1.5vw;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 999px;
  text-align: center;
  margin-left: 10px;
  margin-right:10px;
  margin-top:5px;
  margin-bottom: 5px;
  z-index: 10;
}
.dialog-button:hover{
  border-color: #5c5c8a;
  color: white;
  background-color: #8ac4e6;
}
.dialog-button:active{
  background-color: white;
  /*box-shadow: 0 1px #666;*/
  color:#5c5c8a;
  /*transform: translateY(2px);*/
}
#corpora-btn {
  width: 100%;
  height: 100%;
  left: 0%;
}
#bookmark-btn {
  width: 100%;
  height: 100%;
  left: 0%;
}
#animation-btn, #help-btn, #exit-btn, #share-btn, #mute-btn {
  width: 100%;
  height: 100%;
  left: 0%;
}
.button {
  position:absolute;
  border: 2px solid #5c5c8a;
  background: rgba(255,255,255,0.5);
  color: #5c5c8a;
  padding: 1px 1px;
  font-size: 1.2vw;
  cursor: pointer;
  border-radius: 999px;
  text-align: center;
  outline: none !important;
}
.button-sm {
  position:absolute;
  border: 1px solid #5c5c8a;
  background: rgba(255,255,255,0.5);
  color: #5c5c8a;
  padding: 1px 1px;
  font-size: 1vw;
  cursor: pointer;
  border-radius: 999px;
  text-align: center;
  outline: none !important;
  /*box-shadow:1px 2px 10px #5c5c8a;*/
}
.button:hover, .button-sm:hover, .button-no-border:hover{
  border-color: #5c5c8a;
  border: 0px;
  color: white;
  background-color: #8ac4e6;
}
.button:active, .button-sm:active, .button-no-border:active{
  background-color: white;
  /*box-shadow: 0 1px #666;*/
  color:#5c5c8a;
  border: 0px;
  /*transform: translateY(2px);*/
}
.button:focus, .button-sm:focus, .button-no-border:focus {
  outline: none !important;
}
.button-clicked {
  position:absolute;
  border: 0px solid #5c5c8a;
  color: white;
  padding: 1px 1px;
  font-size: 1.2vw;
  cursor: pointer;
  border-radius: 999px;
  background-color: #5c5c8a;
  outline: none !important;
}
.button-sm-clicked {
  position:absolute;
  border: 0px solid #5c5c8a;
  color: white;
  padding: 1px 1px;
  font-size: 1vw;
  cursor: pointer;
  border-radius: 999px;
  background-color: #5c5c8a;
  outline: none !important;
  /*box-shadow:1px 2px 10px #5c5c8a;*/
}
#bottomright-bar {
  position:absolute;
  left:50%;
  width:50%;
  color:#484848;
  text-shadow: 2px 2px #f0f0f0;
}
#game-info {
  position:absolute;
  bottom:8px;
  right: 16px;
  font-size: 12px;
}
.search-container {
  top: 20%;
  left: 71%;
  width: 15%;
  height:60%;
}
.search-container button {
  position:absolute;
  float: left;
  right:0;
  height:100%;
  width:20%;
  background: transparent;
  font-size: 1.2vw;
  color: #5c5c8a;
  cursor: pointer;
  border: none;
  border-radius: 999px;
  outline: none !important;
}
.search-container button:hover {
  background: #ccc;
}
.search-container input[type=text] {
  float:left;
  width:100%;
  height:100%;
  outline:none;
  padding-left:10%;
  padding-right:20%;
  border:0px solid #00B4CC;
  color:#5c5c8a;
  font-family: Helvetica;
  font-size: 1.2vw;
  border-radius: 999px;
}
.search-wrapper {
  width:100%;
  height:100%;
}
.far fa-question-circle {
  position:absolute;
  height:100%;
  width:20%;
  background: transparent;
  font-size: 2.5vw;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 999px;
}
#video_startId {
  position:absolute;
  height:60%;
  top:20%;
  font-size: 0.9vw;
  color: #5c5c8a;
  width:15%;
  left:5%;
  border: none;
  text-align: center;
  border-radius: 999px;
}
#video_stopId {
  position:absolute;
  height:60%;
  top:20%;
  font-size: 0.9vw;
  color: #5c5c8a;
  width:15%;
  left:25%;
  border: none;
  text-align: center;
  border-radius: 999px;
}
#drag-icon-wrapper {
  position:absolute;
  left:10%;
  width:80%;
  text-align: center
}
#video-drag-icon {
  font-size: 1.5vw;
}
#moment-index-paused {
  position:absolute;
  font-size:1.2vw;
  right:0%;
}
#player_controls {
  position:absolute;
  height:60%;
  top:20%;
  color: white;
  width:50%;
  left:45%;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#fastRwd, #playpause, #fastFwd, #replay, #loop{
  font-size: 2vw;
}
.control-button {
  position:absolute;
  top:0%;
  height:100%;
  border: 0px;
  background: transparent;
  color: white;
  padding: 1px 1px;
  cursor: pointer;
  text-align: center;
  outline: none !important;
  z-index: 5;
}
#fastrwd-btn {
  left:0%;
  width:20%;
  top:0%;
  height:100%;
}
#playpause-btn {
  left:20%;
  width:20%;
  top:0%;
  height:100%;
}
#fastfwd-btn {
  left:40%;
  width:20%;
  top:0%;
  height:100%;
}
#replay-btn {
  left:60%;
  width:20%;
  top:0%;
  height:100%;
}
#loop-reset-btn {
  left:80%;
  width:20%;
  top:0%;
  height:100%;
}
.timeline-wrapper {
  position:absolute;
  left: 5%;
  width: 85%;
  top:84%;
  height:15%;
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 1;
}
.timeline {
  position:relative;
  width: 90%;
  z-index: 1;
}
.timeline-text {
  position:relative;
  color: #5c5c8a;
  font-size: 1.5vw;
  width:10%;
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.half-page-dialog {
  left: 20%;
  width: 60%;
  top: 20%;
  height: 40%;
  z-index: 10;
}
.video-box {
  position:absolute;
  top:5%;
  height: 80%;
  left:10%;
  width:80%;
}
.video_embeded {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
#animation_bar {
  position:absolute;
  top: 85%;
  left: 10%;
  width: 80%;
  height:10%;
  background-color: #5c5c8a;
  border-radius: 999px;
  /*background: transparent;*/
  z-index: 5;
}
.button-no-border {
  position:absolute;
  margin: 0 auto;
  border: 0px;
  padding: 0px;
  background: transparent;
  color: #5c5c8a;
  font-size: 1.2vw;
  cursor: pointer;
  text-align: center;
  border-radius: 999px;
  z-index: 1;
}
.button-no-border:hover{
  border: 0px;
  color: #8ac4e6;
  background: transparent;
}
.button-no-border:active{
  background: transparent;
  color: #8ac4e6;
  border: 0px;
  /*transform: translateY(2px);*/
}
.button-no-border:focus {
  outline: none !important;
}
.mute-icon-container {
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#help-button, #power-button, #mute-button, #share-button{
  font-size: 2vw;
}
.share-btn-wrapper {
  position:absolute;
  top:70%;
  height:10%;
  left:10%;
  width:80%;
  vertical-align: middle;
}
.sharelink-title {
  display: inline-block;
  width:100%;
  margin-bottom: 2px;
  margin-top: 2px;
}
.metalabel-wrapper {
  position:absolute;
  left:1%;
  width:26%;
  top:10%;
  height:8%;
  min-width:120px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.ml-content-wrapper {
  width:10%;
  margin: 5px;
  text-align: center;
  font-size: 1.2vw;
}
.ml-dropdown-btn-wrapper {
  width:60%;
  border-bottom: 1px dotted #5c5c8a;
}
#ml-prv-btn, #ml-dropdown-btn, #ml-next-btn {
  position:relative;
  font-size:1.5vw;
}
.ml-dropdown-wrapper {
  display: none;
  position: absolute;
  left:0%;
  width:100%;
  min-width: 120px;
  font-size: 1.5vw;
  z-index: 1;
}
.ml-dropdown-wrapper p {
    color: #5c5c8a;
    padding: 1px 1px;
    text-decoration: none;
    display: block;
}
.ml-dropdown-wrapper p:hover {color: #8ac4e6;}

/*.ml-dropdown-btn-wrapper:hover .ml-dropdown-wrapper {display: block;}*/

.ml-dropdown-btn-wrapper:hover {color: #8ac4e6;}

#link-text {
  position:absolute;
  top:10%;
  left:10%;
  width:80%;
  height:50%;
  font-size:1.5vw;
  font-family:Helvetica;
  margin-top: 5px;
  margin-bottom: 5px;
}
.helper-btn-wrapper {
  position:absolute;
  top:85%;
  height:10%;
  left:0%;
  width:100%;
}
#helper-close-btn {
  position:absolute;
  bottom:5%;
}
.full-page-div {
  position:absolute;
  left:0%;
  top:0%;
  width:100%;
  height:85%;
}
